.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 95%;
  height: 700px;
  overflow: hidden;

  @media screen and (max-width: 620px) {
    justify-content: flex-start;
  }
  h1,
  h4 {
    margin: 0;
  }
}

.cursor {
  visibility: hidden;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
