@import url('https://fonts.googleapis.com/css?family=Nunito:400');

html {
  font-size: 16px;
  cursor: none;
}

:root {
  --color-text: #ffffff;
  --color-background-dark: #132644; //#1d3557;
  --color-background-medium: #335c75; //#457b9d old color
  --color-background-light: #a8dadc;
  --color-accent: #eb606c; //#e63946 old color;
  --baseFontSize: 1rem;

  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.512rem;

  --xtra-big-heading: 3.052rem;
  --xtra-heading: 2.441rem;
  --heading-1: 1.953rem;
  --heading-2: 1.563rem;
  --heading-3: 1.25rem;
  --heading-4: var(--baseFontSize);
  --heading-5: var(--smallFontSize);
  --heading-6: 0.64rem;
  --heading-7: var(--smallestFontSize);
  @media (min-width: 1201px) {
    --baseNavSize: 1.5rem;
  }

  @media (max-width: 1200px) {
    --baseNavSize: 1.414rem;
  }
  @media (max-width: 1024px) {
    --baseNavSize: 1.333rem;
  }
  @media (max-width: 768px) {
    --baseNavSize: 1.25rem;
  }
  @media (max-width: 480px) {
    --baseNavSize: 1.2rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--color-text);
  overflow: hidden;
}

a {
  color: inherit;
  cursor: none;
}

* {
  box-sizing: border-box;
}

p {
  margin-bottom: 1rem;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 4px solid white;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  mix-blend-mode: difference;
  opacity: 0;
}

.raiseMe {
  display: inline-block;
  transition: color 0.1s ease-in-out, transform 0.3s ease-in-out;

  &:hover {
    color: var(--color-background-light);
    animation: bounce 0.3s;
    transform: scale(1) translateY(-20px) rotate(12deg);
  }

  @keyframes bounce {
    0% {
      transform: scale(1) translateY(0px) rotate(0deg);
    }
    40% {
      transform: scale(1.3, 0.7) translateY(-20px) rotate(12deg);
    }
    55% {
      transform: scale(1) translateY(-20px) rotate(12deg);
    }
    70% {
      transform: scale(1.2, 0.8) translateY(-20px) rotate(12deg);
    }
    80% {
      transform: scale(1) translateY(-20px) rotate(12deg);
    }
    90% {
      transform: scale(1.1, 0.9) translateY(-20px) rotate(12deg);
    }
    100% {
      transform: scale(1) translateY(-20px) rotate(12deg);
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 6.386rem;

  @media (max-width: 1200px) {
    font-size: 5.5rem;
  }
  @media (max-width: 1024px) {
    font-size: 4.209rem;
  }
  @media (max-width: 768px) {
    font-size: 3.052rem;
  }
  @media (max-width: 480px) {
    font-size: 2.488rem;
  }
}

h2 {
  font-size: 5.063rem;

  @media (max-width: 1200px) {
    font-size: 3.998rem;
  }
  @media (max-width: 1024px) {
    font-size: 3.157rem;
  }
  @media (max-width: 768px) {
    font-size: 2.441rem;
  }
  @media (max-width: 480px) {
    font-size: 2.074rem;
  }
}

h3 {
  font-size: 3.375rem;

  @media (max-width: 1200px) {
    font-size: 2.827rem;
  }
  @media (max-width: 1024px) {
    font-size: 2.369rem;
  }
  @media (max-width: 768px) {
    font-size: 1.953rem;
  }
  @media (max-width: 480px) {
    font-size: 1.728rem;
  }
}

h4 {
  font-size: 2.25rem;

  @media (max-width: 1200px) {
    font-size: 1.999rem;
  }
  @media (max-width: 1024px) {
    font-size: 1.777rem;
  }
  @media (max-width: 768px) {
    font-size: 1.563rem;
  }
  @media (max-width: 480px) {
    font-size: 1.44rem;
  }
}

h5 {
  font-size: 1.5rem;

  @media (max-width: 1200px) {
    font-size: 1.414rem;
  }
  @media (max-width: 1024px) {
    font-size: 1.333rem;
  }
  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

small,
.text_small {
  font-size: 0.667rem;

  @media (max-width: 1200px) {
    font-size: 0.707rem;
  }
  @media (max-width: 1024px) {
    font-size: 0.75rem;
  }
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
  @media (max-width: 480px) {
    font-size: 0.833rem;
  }
}
