.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  width: 60vw;
  height: 500px;
  overflow: hidden;

  h3 {
    height: 200px;
    margin: 0;
  }
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: var(--color-background-light);
  font-size: var(--baseNavSize);
  font-family: 'Nunito', sans-serif;
  color: var(--color-background-dark);
  padding: 25px 80px;
  transform: translateY(200px);
  border-radius: 15px;
  box-shadow: 0 5px var(--color-background-dark);
  margin: 1rem 0;
}

.btn:hover {
  box-shadow: 0 4px var(--color-background-dark);
  top: 1px;
}

.btn:active {
  box-shadow: none;
  top: 5px;
}

.cursor {
  visibility: hidden;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
