.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: var(--color-background-medium);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @media screen and (max-width: 620px) {
    grid-column: 1 / 3;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--color-background-dark);
  transform: translateX(500px);

  @media screen and (max-width: 620px) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 2rem 0.75rem;
      width: 100%;
      height: 100%;
      text-align: start;
      font-size: var(--baseNavSize);
      transition: color 0.5s ease;

      &:hover {
        color: var(--color-accent);
      }
    }
    .active {
      color: var(--color-accent);
    }

    .highlight {
      width: 1rem;
      background-color: var(--color-accent);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
