.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  @media (hover: none) {

  }

}

.portContainer {
  visibility: hidden;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow: scroll;
  height: 90vh;

  @media screen and (max-width: 620px) {
    div:last-child {
      padding-bottom: 10rem;
    }
  }
}

.cursor {
  visibility: hidden;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
