.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 750px;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cursor {
  visibility: hidden;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
